{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{%static 'UserApp/assets/img/title.ico' %}">
<title>Coin Buy</title>
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/icofont.css' %}">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/animations.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-social.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/highcharts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/responsive.bootstrap4.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-timepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-colorpicker.min.css' %}">
	
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/theme-query.css' %}">
	
</head>

<body role="document">

<!--Header Top-->
<div class="container-fluid bg-header-top">
	<div class="container pad10T pad10B">
    	<div class="row">
            <div class="col-md-6 text-left-to-center pad5T pad5B">
                <span class="header-top-text">Welcome to Arcturus</span>
            </div>
            <div class="col-md-6 text-right-to-center pad5T pad5B">
            	<a href="https://www.facebook.com/arcturus.coin.3" class="top-socila-icon">
                	<img src="{% static 'UserApp/assets/img/icon-social-fb.png' %}" width="32" height="32" alt=""/>
                </a>
                <a href="https://twitter.com/ArcturusCoin" class="top-socila-icon">
                	<img src="{% static 'UserApp/assets/img/icon-social-tw.png' %}" width="32" height="32" alt=""/>
                </a>
                <a href="#" class="top-socila-icon">
                	<img src="{% static 'UserApp/assets/img/icon-social-gp.png' %}" width="32" height="32" alt=""/>
                </a>
                <a href="https://www.linkedin.com/in/arcturus-coin-544806194/" class="top-socila-icon">
                	<img src="{% static 'UserApp/assets/img/icon-social-in.png' %}" width="32" height="32" alt=""/>
                </a>
            </div>
        </div>
    </div>	
</div>
	
<!-- Navbar Start -->
<div class="container pad0L pad0R">
	<nav class="navbar navbar-expand-lg bg-white navbar-light pad20T pad20B">
        <a class="navbar-brand" href="{% url 'Userindex' %}">
            <img src="{% static 'UserApp/assets/img/logo-color.png' %}" width="222" alt="" class="img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
					<li class="nav-item mrg5A active">
					<a class="nav-link" href="{% url 'UserWalletView' %}">Wallet</a>
					</li>
					<li class="nav-item mrg5A">
							<a class="nav-link" href="{% url 'UserWalletWithdrawlUrl' %}">Withdrawl</a>
					</li>
					<li class="nav-item mrg5A">
						<a class="nav-link" href="{% url 'Userabout' %}">About</a>
					</li>
					<li class="nav-item mrg5A">
						<a class="nav-link" href="{% url 'UserContact' %}">Contact</a>
					</li>
					<li class="nav-item mrg5A">
						<a class="nav-link" href="{% url 'UserDashboard' %}">DashBoard</a>
					</li>
					<li class="nav-item mrg5A">
						{% if logged_in %}
						<a href="{% url 'UserLogout' %}" class="btn btn-navbar-brown">Logout</a>
						{% else %}
						<a href="{% url 'UserLogin' %}" class="btn btn-navbar-brown">Login</a>
						{% endif %}
					</li>
					{% if logged_in %}
					<li class="nav-item mrg5A">
						Wallet = {{u_a_coin}}
					</li>
					{% endif %}

                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>-->
            </ul>
        </div>
    </nav>
</div>

<!--Service Section-->
<div class="container-fluid pad40T pad40B">
	<div class="container">
    	<div class="row">
        	<h2 class="border-heading">bitCoin Exchanges</h2>
            <div class="col">
            	<div class="body-text text-center pad20T">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la bore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip dantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
            </div>
        </div>
    </div>
</div>

<!--Live Section-->
<div class="container-fluid live-left-bg pad40T pad40B">
	<div class="container">
		<div class="row justify-content-center" align="center">
			<div class="col-12">
				<h3 class="border-heading-white">Calculate Live Cryptocurrency</h3>
				<div class="live-left-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

				<form class="form-inline row justify-content-center" onsubmit="return false">

					<div class="input-group col-md-4" align="center">
						<div class="input-group-prepend">
							<button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD</button>
							<!-- <div class="dropdown-menu">
								<a class="dropdown-item" href="#">USD</a>
								<a class="dropdown-item" href="#">INR</a>
							</div> -->
						</div>
						<input type="text" name="Money" id="money" class="form-control" aria-label="Text input with dropdown button">
					</div>

					<div class="col-md-1 pad20T pad20B" align="center">
							<button type="submit" onclick="subform()"><img src="{% static 'UserApp/assets/img/toggle-switch-bg.png' %}" class="transform-cw-90" width="33" height="33" alt=""/></button>
					</div>

					<div class="input-group col-md-4" align="center">
						<div class="input-group-prepend">
							<button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MyCoin</button>
							<!-- <div class="dropdown-menu">
								<a class="dropdown-item" href="#">INR</a>
								<a class="dropdown-item" href="#">BTC</a>
							</div> -->
						</div>
						<input type="text" id="c_data" type="text" class="form-control" aria-label="Text input with dropdown button">
					</div>
					
					<div class="col-md-3 pad20T pad20B" align="center">
						<button type="submit" class="btn btn-navbar-brown pad30L pad30R" onclick="subCoinbuyform()">Buy Now</button>
					</div>

				</form>

			</div>
		</div>		
	</div>
</div>

<!--Coin History Section-->
<div class="container-fluid pad40T pad40B">
	<div class="container">
		<div class="row pad40B">
        	<h2 class="border-heading">Coin Request History</h2>
            <div class="col">
            	<div class="body-text text-center pad20T">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la bore et dolore magna aliqua.</div>
            </div>
        </div>
		<div class="row">
			<div class="col-12">
				<table id="coinHistoryTable" class="table table-striped table-bordered mrg10T mrg10B" width="100%">
					<thead>
						<tr>
							<th>SL No</th>
							<th>Description</th>
							<th>Pending / Process</th>
						</tr>
					</thead>
					<tbody>

						{% for i in coin_req_obj %}

							<tr>
								<td>{{ forloop.counter }}</td>
								<td>Request Id <b>{{ i.unique_id }}</b> For the Amount <b>${{ i.total_amount }}</b> For No Of Coin <b>{{ i.no_coin }}</b></td>
								<td>{% if i.approved %}<b>Approved</b>{% else %}<b>Pending</b>{% endif %}</td>
							</tr>

						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--Join Section-->
<div class="container-fluid join-section-bg pad40T pad10B">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 mrg30B">
				<div class="join-left-text">Join our subscription and get instant updates about offers and discounts.</div>
			</div>
			<div class="col-lg-6 mrg30B">
				<div class="join-right-input">
					<div class="input-group mb-0">
						<input type="email" name="usersub" id="usersub" class="form-control" placeholder="Enter Your mail id to subscribe our news letter">
						<div class="input-group-append">
							<span class="input-group-text"><button onclick="subscribeFun()" type="submit">Submit</button></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Footer top-->
<div class="container-fluid footer-bg-back pad40T pad10B">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mrg30B">
				<div class="footer-logo">
					<a href="#">
						<img src="{% static 'UserApp/assets/img/logo-bw.png' %}" width="222" class="img-fluid" alt=""/>
					</a>
				</div>
				<div class="footer-logo-mater">
						ARCTURUS is the next generation future-ready cryptocurrency developed
						using the stout blockchain technology with own custom-made algorithms.The name ‘ARCTURUS’ has 
						been inspirationally taken from name of the brightest star of the same name in the northern hemisphere.
						Significantly, it is the brightest star in the constellation of Boötes, the fourth-brightest in the night sky,
						 and the brightest in the northern celestial hemisphere. Similarly, in the world of digital transactions 
						 based on blockchain technology, ARCTURUS, as a cryptocoin is aimed at transforming transactions in the 
						 hospitality and travel industry secured and seamless to redefine them to the next levels.
				</div>
				<ul class="footer-list">
					<li>
						<a href="#">
							<img src="{% static 'UserApp/assets/img/icon-footer-location.png' %}" width="36" height="36" alt=""/>
							<span>Street, 11000 Helsinki, Finland</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{% static 'UserApp/assets/img/icon-footer-phone.png' %}" width="36" height="36" alt=""/>
							<span>(+123)11 123 4567</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{% static 'UserApp/assets/img/icon-footer-mail.png' %}" width="36" height="36" alt=""/>
							<span>support@arcturus.world</span>
						</a>
					</li>
				</ul>
			</div>
		  	<div class="col-lg-4">
                <div class="footer-heading">Latest News</div>
                
                <div class="footer-news-container">
                    <div class="footer-news-col">
                        <div class="image">
                            <img src="{% static 'UserApp/assets/img/bitcoin-2008262_1920_Edit.jpg' %}" width="100%" alt=""/>
                        </div>
                    </div>
                    <div class="footer-news-col">
                        <div class="top">Comming soon...</div>
                        <a href="#" class="bot">October 11, 2019</a>
                    </div>
                </div>
				<div>
						<ul>
							<li>
								<a href="#">
									<img src="{% static 'UserApp/assets/img/icon-footer-location.png' %}" width="36" height="36" alt=""/>
									<span>Street, 11000 Helsinki, Finland</span>
								</a>
							</li>
							<br>
							<li>
								<a href="#">
									<img src="{% static 'UserApp/assets/img/icon-footer-phone.png' %}" width="36" height="36" alt=""/>
									<span>(+123)11 123 4567</span>
								</a>
							</li>
							<br>
							<li>
								<a href="#">
									<img src="{% static 'UserApp/assets/img/icon-footer-mail.png' %}" width="36" height="36" alt=""/>
									<span>support@arcturus.world</span>
								</a>
							</li>		
						</ul>	
					  </div>
			</div>
			
			<!-- <div class="col-lg-4">
                <div class="footer-heading">Twitter Feed</div>
                
                <div class="footer-twitter-table">
                    <div class="footer-twitter-table-col">
                        <div class="image">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="footer-twitter-table-col">
                        <div class="top"><a class="twitter-timeline" href="https://twitter.com/ArcturusCoin?ref_src=twsrc%5Etfw">Tweets by ArcturusCoin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
                    </div>
                </div>                
            </div> -->
		</div>
	</div>
</div>

<!--Footer Bottom-->
<div class="container-fluid bg-footer-bot">
	<div class="row">
		<div class="col">
			<div class="footer-bot-text">
				<a href="#">© 2011 Yourcompany.com, All Rights Reserved</a>
			</div>
		</div>
	</div>
</div>
	
<!-- Bootstrap core JavaScript --> 
<script src="{% static 'UserApp/assets/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'UserApp/assets/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'UserApp/assets/js/css3-animate-it.js' %}"></script>
<script src="{% static 'UserApp/assets/js/jquery.input-mask.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/owl.carousel2-2.3.4.js' %}"></script>
<script src="{% static 'UserApp/assets/js/owl.carousel2.thumbs.js' %}"></script>
<script src="{% static 'UserApp/assets/js/highcharts.js' %}"></script>
<script src="{% static 'UserApp/assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/jquery.raty-fa.js' %}"></script>

<script src="{% static 'UserApp/assets/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/bootstrap-colorpicker.min.js' %}"></script>
	
<script src="{% static 'UserApp/assets/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'UserApp/assets/js/theme.js' %}"></script> 

<script type="text/javascript">
    function subform()
    {
    $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '{% url "CoinValueCalling" %}',
            async: true,
            data: {
                c_val: $('#money').val(),
                mval: 5,
               },
            success: function (response)
                {
                  console.log(response['no_coin']);
                  let no_coin = response['no_coin'];
				  if(response['is_taken'] == 1)
				  {
					$("#c_data").val();
                  	$("#c_data").val(no_coin);
				  }
				  else
				  {
					  alert("Give a Numeric Value !!");
				  }
                  
               },
    error: function ()
    {
     alert('Something went wrong !!');
     }
});
}
</script>


<script type="text/javascript">
    function subCoinbuyform()
    {
    $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '{% url "CoinRequestLink" %}',
            async: true,
            data: {
				total_amountw: $('#money').val(),
                no_coin: $('#c_data').val(),
                mval: 6,
               },
            success: function (response)
                {
                  console.log(response['is_taken']);
                  let is_taken = response['is_taken'];
				  if (is_taken == true)
				  {
					alert("Your Coin Is Submitted !!");
					location.reload();
				  }
				  else
				  {
					alert("Something Went Wrong !!");
				  }
               },
    error: function ()
    {
     notify('Something went wrong');
     }
});
}
</script>


<script type="text/javascript">
function subscribeFun()
    {
    $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '{% url "Subscription" %}',
            async: true,
            data: {
				s_mail: $('#usersub').val(),
                mval: 6,
               },
            success: function (response)
                {
                  let submitted = response['submitted'];
				  if (submitted == true)
				  {
					alert("Your Request Has been Is Submitted !!");
					$('#usersub').val("")
				  }
				  else
				  {
					alert("Try Again !!");
				  }
               },
    error: function ()
    {
     notify('Something went wrong');
     }
});
}
</script>


</body>
</html>
