{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'UserApp/assets/img/title.ico' %}">
<title>Contact Us</title>
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/icofont.css' %}">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/animations.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-social.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/highcharts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/responsive.bootstrap4.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-timepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-colorpicker.min.css' %}">
	
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/theme-query.css' %}">
<!-- CSS Author Kuntal -->
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/MyCSS/mystyletag.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>

<script type="text/javascript">
  window.onload = function() {
  Particles.init({
    selector: '.particle',
    connectParticles: true,
    color:'#619932',
  });
};
</script>
<style>
.abcd {
height: 80px;
width: 80px;  
background-image:url('https://i.ibb.co/bswgxyc/logo-cmd.png');
/*background-color:*/
background-repeat:no-repeat;
background-position: center;
}
</style>
<style type="text/css">
    #particles canvas{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    div.example {
          padding: 50px;
        }

        @media (max-width: 1000px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 30%;
            }
                
        }
        @media (max-width: 900px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 45%;
            }
                
        }
        @media (max-width: 800px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 55%;
            }
                
        }
        @media (max-width: 700px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 65%;
            }
                
        }
        @media (max-width: 600px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 75%;
            }
                
        }
        @media (max-width: 500px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 85%;
            }
                
        }
        @media (max-width: 400px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 95%;
            }
                
        }
        @media (max-width: 300px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 105%;
            }
                
        }
        @media (max-width: 200px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 115%;
            }
                
        }
        @media (max-width: 100px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 125%;
            }
                
        }
        @media (max-width: 50px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 135%;
            }
                
        }
        @media (max-width: 25px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 145%;
            }
                
        }
        @media (max-width: 100px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 155%;
            }
                
        }
    }
</style>
</head>

<body role="document">

<!--Header Top-->
<div class="container-fluid bg-header-top">
	<div class="container pad10T pad10B">
    	<div class="row">
            <div class="col-md-6 text-left-to-center pad5T pad5B">
                <span class="header-top-text">Welcome to Arcturus</span>
            </div>
            <div class="col-md-6 text-right-to-center pad5T pad5B">
					<a href="{{SocialMObj.facebook_link|safe}}" class="top-socila-icon">
							<img src="{% static 'UserApp/assets/img/icon-social-fb.png' %}" width="32" height="32" alt=""/>
						</a>
						<a href="{{SocialMObj.twitter_link|safe}}" class="top-socila-icon">
							<img src="{% static 'UserApp/assets/img/icon-social-tw.png' %}" width="32" height="32" alt=""/>
						</a>
						<a href="{{SocialMObj.googleplus|safe}}" class="top-socila-icon">
							<img src="{% static 'UserApp/assets/img/icon-social-gp.png' %}" width="32" height="32" alt=""/>
						</a>
						<a href="{{SocialMObj.linkedin|safe}}" class="top-socila-icon">
							<img src="{% static 'UserApp/assets/img/icon-social-in.png' %}" width="32" height="32" alt=""/>
						</a>
            </div>
        </div>
    </div>	
</div>
	
<!-- Navbar Start -->
<div class="container pad0L pad0R">
	<nav class="navbar navbar-expand-lg bg-white navbar-light pad20T pad20B">
        <a class="navbar-brand" href="{% url 'Userindex' %}">
            <img src="{% static 'UserApp/assets/img/logo-color.png' %}" width="222" alt="" class="img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
					<li class="nav-item mrg5A active">
						<a class="nav-link" href="{% url 'UserCoinStatus' %}">Home</a>
					</li>
					<li class="nav-item mrg5A">
						<a class="nav-link" href="{% url 'white' %}">White Paper</a>
					</li>
					<li class="nav-item mrg5A">
						<a class="nav-link" href="{% url 'Userabout' %}">About</a>
					</li>
					<li class="nav-item mrg5A">
						<a class="nav-link" href="{% url 'UserContact' %}">Contact</a>
					</li>
					<li class="nav-item mrg5A">
						{% if logged_in %}
						<a href="{% url 'UserLogout' %}" class="btn btn-navbar-brown">Logout</a>
						{% else %}
						<a href="{% url 'UserLogin' %}" class="btn btn-navbar-brown">Login</a>
						{% endif %}
					</li>
            </ul>
        </div>
    </nav>
</div>
	
<!--Banner Slider-->
<div class="container-fluid baner-bg2 pad40B">
    <div class="row" style="position: relative;">
        <div class="embed-responsive embed-responsive-4by1 particle-back">
            <canvas class="particle embed-responsive-item"></canvas>
        </div>
        <div class="text-container">
            <div class="text-row">
                <div class="text-top">{{headerObj.HeaderHeading|safe}}</div>
                    <text class="text-bot">
                         {{headerObj.HeaderHeadingContent|safe}}
                    </text>
                </div>
            </div>
        </div>
    </div>

<!--Contact Top Section-->
<div class="container-fluid pad10B pad40T">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mrg30B">
				<div class="contact-top-container">
					<div class="img">
						<img src="{% static 'UserApp/assets/img/icon-footer-location-big.png' %}" width="119" height="119" alt=""/>
					</div>
					<div class="text">{{footerObj.FooterAddress|safe}}</div>
				</div>
			</div>
			<div class="col-lg-4 mrg30B">
				<div class="contact-top-container">
					<div class="img">
						<img src="{% static 'UserApp/assets/img/icon-footer-phone-big.png' %}" width="119" height="119" alt=""/>
					</div>
					<div class="text">{{footerObj.FooterPhone|safe}}</div>
				</div>
			</div>
			<div class="col-lg-4 mrg30B">
				<div class="contact-top-container">
					<div class="img">
						<img src="{% static 'UserApp/assets/img/icon-footer-mail-big.png' %}" width="119" height="119" alt=""/>
					</div>
					<div class="text">{{footerObj.FooterMail|safe}}</div>
				</div>
			</div>
		</div>
		<div class="row pad40T">
        	<h2 class="border-heading">Get in Touch</h2>
		</div>
		
		<form class="baner-form-container mrg40B" onsubmit="return false">
				{% csrf_token %}
			<div class="body">
				<div class="row pad10L pad10R">
					<div class="col-lg-6 pad5L pad5R mrg10B">
						<input type="text" name="fullname" id="fullname" class="form-control" placeholder="Name" required>
					</div>

					<div class="col-lg-6 pad5L pad5R mrg10B">
						<input type="number" name="phone" id="phone" class="form-control" placeholder="Phone" required>
					</div>
				</div>

				<div class="row pad10L pad10R">
					<div class="col-lg-6 pad5L pad5R mrg10B">
						<input type="email" name="mal" id="mal" class="form-control" placeholder="E-mail" required>
					</div>

					<div class="col-lg-6 pad5L pad5R mrg10B">
						<select name="servicename" id="servicename" class="custom-select">
							<option value="Crypto">Service</option>
							<option value="Buy Coin">Buy Coin</option>
							<option value="Coin Price">Coin Price </option>
							<option value="Contact to Admin">Contact to Admin</option>
							<option value="Others">Others</option>
						</select>
					</div>
				</div>

				<div class="row pad10L pad10R pad10B">
					<div class="col-12 pad5L pad5R mrg10B">
						<input type="text" name="AddInfo" id="AddInfo" class="form-control" placeholder="Additional Information" required>
					</div>
				</div>

				<div class="alerterror" id="errormsg" style="display: none;">
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
					Please Fill Out Form Correctly
				</div>
				<br>

				<div class="row pad10L pad10R">
					<div class="col-12 pad5L pad5R mrg10B text-center">
						<button type="submit" onclick="sendmyquerytoadmin()" class="btn font_16 btn-navbar-brown pad40L pad40R">Send Request</button>
					</div>
				</div>
				
				<br>
				<div class="alertsuccess" id="successmsg" style="display: none;">
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
					Request Send successfully !!
				</div>

			</div>
		</form>
	</div>
</div>

<!--Join Section-->
<div class="container-fluid join-section-bg pad40T pad10B">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 mrg30B">
				<div class="join-left-text">Join our subscription and get instant updates about offers and discounts.</div>
			</div>
			<div class="col-lg-6 mrg30B">
				<div class="join-right-input">
					<div class="input-group mb-0">
						<input type="text" name="s_u_val" id="s_u_val" class="form-control" placeholder="Enter Your mail id to subscribe our news letter">
						<div class="input-group-append">
							<span class="input-group-text" onclick="SubcriberFunction()">Submit</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Footer top-->
<div class="container-fluid footer-bg-back pad40T pad10B">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mrg30B">
				<div class="footer-logo">
					<a href="#">
						<img src="{% static 'UserApp/assets/img/logo-bw.png' %}" width="222" class="img-fluid" alt=""/>
					</a>
				</div>
				<div class="footer-logo-mater">
						{{footerObj.FooterContent|safe}}
				</div>

				<ul>
						<li><a href="{% url 'UserTermsConditionsurl' %}">Terms-Conditions</a></li>
						<br>
						<li><a href="{% url 'Userpolicyurl' %}">Policy</a></li>
					</ul>
				
			</div>
		  	<div class="col-lg-4">
                <div class="footer-heading">Latest News</div>
                
                <div class="footer-news-container">
						<div class="footer-news-col">
							<div class="image">
								<img src="{{NewsObj.LatestNewsImg1.url}}" width="100%" alt=""/>
							</div>
						</div>
						<div class="footer-news-col">
							<div class="top">{{NewsObj.LatestNewsContent1|safe}}</div>
							<a href="#" class="bot">{{NewsObj.LatestNewsDate1|safe}}</a>
						</div>
					</div>
                
                <div>
						<ul>
							<li>
								<a href="#">
									<img src="{% static 'UserApp/assets/img/icon-footer-location.png' %}" width="36" height="36" alt=""/>
									<span>{{footerObj.FooterAddress|safe}}</span>
								</a>
							</li>
							<br>
							<li>
								<a href="#">
									<img src="{% static 'UserApp/assets/img/icon-footer-phone.png' %}" width="36" height="36" alt=""/>
									<span>{{footerObj.FooterPhone|safe}}</span>
								</a>
							</li>
							<br>
							<li>
								<a href="#">
									<img src="{% static 'UserApp/assets/img/icon-footer-mail.png' %}" width="36" height="36" alt=""/>
									<span>{{footerObj.FooterMail|safe}}</span>
								</a>
							</li>		
						</ul>	
					  </div>
                
            </div>
			<!-- <div class="col-lg-4">
                <div class="footer-heading">Twitter Feed</div>
                
                <div class="footer-twitter-table">
                    <div class="footer-twitter-table-col">
                        <div class="image">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="footer-twitter-table-col">
                        <div class="top"><a class="twitter-timeline" href="https://twitter.com/ArcturusCoin?ref_src=twsrc%5Etfw">Tweets by ArcturusCoin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
                    </div>
                </div>                
            </div> -->
		</div>
	</div>
</div>

<!--Footer Bottom-->
<div class="container-fluid bg-footer-bot">
	<div class="row">
		<div class="col">
			<div class="footer-bot-text">
					<a href="javascript:">{{CopyObj.copyRightData|safe}}</a>
			</div>
		</div>
	</div>
</div>
	
<!-- Bootstrap core JavaScript --> 
<script src="{% static 'UserApp/assets/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'UserApp/assets/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'UserApp/assets/js/css3-animate-it.js' %}"></script>
<script src="{% static 'UserApp/assets/js/jquery.input-mask.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/owl.carousel2-2.3.4.js' %}"></script>
<script src="{% static 'UserApp/assets/js/owl.carousel2.thumbs.js' %}"></script>
<script src="{% static 'UserApp/assets/js/highcharts.js' %}"></script>
<script src="{% static 'UserApp/assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/jquery.raty-fa.js' %}"></script>

<script src="{% static 'UserApp/assets/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/bootstrap-colorpicker.min.js' %}"></script>
	
<script src="{% static 'UserApp/assets/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'UserApp/assets/js/theme.js' %}"></script> 


<!-- Author Kuntal -->

<script type="text/javascript">
    function sendmyquerytoadmin()
    {
    $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '{% url "GetintouchDataComing" %}',
            async: true,
            data: {
                fullname: $('#fullname').val(),
                phone: $('#phone').val(),
				mal: $('#mal').val(),
				servicename: $('#servicename').val(),
				AddInfo: $('#AddInfo').val(),
               },
            success: function (response)
                {
                  console.log(response['is_okay']);
                  if (response['is_okay'])
				  {
					$('#fullname').val("");
					$('#phone').val("");
					$('#mal').val("");
					$('#servicename').val("");
					$('#AddInfo').val("");
					document.getElementById('successmsg').style.display = 'block';
				  }
				  else
				  {
					document.getElementById('errormsg').style.display = 'block';
				  }
               },
    error: function ()
    {
     alert('Something went wrong !!');
     }
});
}
</script>



<script type="text/JavaScript">
	$(document).ready(function(){
		$("#phone").change(function(){
			let phone = $('#phone').val();
			if(phone.length == 10)
			{
				$('.valid-feedbac').hide();
				$(this).addClass('is-valid');
				$('<div class="valid-feedbac" style="font-weight:600;color:green"></div>').insertAfter($(this));
			}
			else if(phone.length > 10)
			{
				$('.valid-feedbac').hide();
				$('<div class="valid-feedbac" style="font-weight:600;color:red">Can not be more than 10 digit !!</div>').insertAfter($(this));
			}
			else
			{
				$('.valid-feedbac').hide();
				$('<div class="valid-feedbac" style="font-weight:600;color:red">Must be 10 digit !!</div>').insertAfter($(this));
			}
		});
	});
</script>


<script type="text/JavaScript">
	$(document).ready(function(){
		$("#fullname").change(function(){
			let fullname = $('#fullname').val();
			if(fullname.length >= 3)
			{
				$('.valid-feedbac').hide();
				$(this).addClass('is-valid');
				$('<div class="valid-feedbac" style="font-weight:600;color:green"></div>').insertAfter($(this));
			}
			else
			{
				$('.valid-feedbac').hide();
				$('<div class="valid-feedbac" style="font-weight:600;color:red">Should be Min 3 Letters !!</div>').insertAfter($(this));
			}
		});
	});
</script>


<script type="text/JavaScript">
	$(document).ready(function(){
		$("#AddInfo").change(function(){
			let AddInfo = $('#AddInfo').val();
			if(AddInfo.length >= 5)
			{
				$('.valid-feedbac').hide();
				$(this).addClass('is-valid');
				$('<div class="valid-feedbac" style="font-weight:600;color:green"></div>').insertAfter($(this));
			}
			else
			{
				$('.valid-feedbac').hide();
				$('<div class="valid-feedbac" style="font-weight:600;color:red">Should be Min 5 Letters !!</div>').insertAfter($(this));
			}
		});
	});
</script>

<script type="text/javascript">
	function SubcriberFunction()
    {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '{% url "Subscription" %}',
            async: true,
            data: {
                mail: $('#s_u_val').val()
               },
            success: function (response)
                {
                  let submitted = response['submitted'];
                  if(submitted == true)
				  {
					alert("Succefully Submitted");
                    $('#s_u_val').val("");
				  }
				  else
				  {
					alert("Try Again");
				  }
               },
			error: function ()
			{
			notify('Something went wrong');
			}
		});
    }
</script> 


</body>
</html>
