{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'UserApp/assets/img/title.ico' %}">
<title>Arcturus</title>
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/icofont.css' %}">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/animations.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-social.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/highcharts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/responsive.bootstrap4.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-timepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/bootstrap-colorpicker.min.css' %}">
    
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'UserApp/assets/css/theme-query.css' %}">
<!-- <link rel="stylesheet" href="{% static 'UserApp\assets\styles\bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'UserApp\assets\styles\buttons1.css' %}"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
<script type="text/javascript">
  window.onload = function() {
  Particles.init({
    selector: '.particle',
    connectParticles: true,
    color:'#619932',
  });
};
</script>
<style>
.vl {
  border-left: 2px solid black;
  height: 300px;
}
</style>
<style>
.abcd {
height: 80px;
width: 80px;  
background-image:url('https://i.ibb.co/bswgxyc/logo-cmd.png');
/*background-color:*/
background-repeat:no-repeat;
background-position: center;
}
</style>
<style type="text/css">
    #particles canvas{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    div.example {
          padding: 50px;
        }

        @media (max-width: 1000px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 30%;
            }
                
        }
        @media (max-width: 900px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 45%;
            }
                
        }
        @media (max-width: 800px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 55%;
            }
                
        }
        @media (max-width: 700px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 65%;
            }
                
        }
        @media (max-width: 600px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 75%;
            }
                
        }
        @media (max-width: 500px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 85%;
            }
                
        }
        @media (max-width: 400px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 95%;
            }
                
        }
        @media (max-width: 300px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 105%;
            }
                
        }
        @media (max-width: 200px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 115%;
            }
                
        }
        @media (max-width: 100px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 125%;
            }
                
        }
        @media (max-width: 50px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 135%;
            }
                
        }
        @media (max-width: 25px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 145%;
            }
                
        }
        @media (max-width: 100px) { 
                .embed-responsive-4by1.particle-back::before {
                padding-top: 155%;
            }
                
        }
    }
</style>
</head>
<body role="document">

<!--Header Top-->
<div class="container-fluid bg-header-top">
    <div class="container pad10T pad10B">
        <div class="row">
            <div class="col-md-6 text-left-to-center pad5T pad5B">
                <span class="header-top-text">Welcome to Arcturus</span>
            </div>
            <div class="col-md-6 text-right-to-center pad5T pad5B">
					<a href="{{SocialMObj.facebook_link|safe}}" class="top-socila-icon">
							<img src="{% static 'UserApp/assets/img/icon-social-fb.png' %}" width="32" height="32" alt=""/>
						</a>
						<a href="{{SocialMObj.twitter_link|safe}}" class="top-socila-icon">
							<img src="{% static 'UserApp/assets/img/icon-social-tw.png' %}" width="32" height="32" alt=""/>
						</a>
						<a href="{{SocialMObj.googleplus|safe}}" class="top-socila-icon">
							<img src="{% static 'UserApp/assets/img/icon-social-gp.png' %}" width="32" height="32" alt=""/>
						</a>
						<a href="{{SocialMObj.linkedin|safe}}" class="top-socila-icon">
							<img src="{% static 'UserApp/assets/img/icon-social-in.png' %}" width="32" height="32" alt=""/>
						</a>
            </div>
        </div>
    </div>  
</div>
	
<!-- Navbar Start -->
<div class="container pad0L pad0R">
	<nav class="navbar navbar-expand-lg bg-white navbar-light pad20T pad20B">
        <a class="navbar-brand" href="{% url 'Userindex' %}">
            <img src="{% static 'UserApp/assets/img/logo-color.png' %}" width="222" alt="" class="img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mrg5A active">
					{% if logged_in %}
					<a class="nav-link" href="{% url 'Userindex' %}">Dashboard</a>
					{% else %}
					<a class="nav-link" href="{% url 'UserCoinStatus' %}">Home</a>
					{% endif %}
                </li>
                <li class="nav-item mrg5A">
                    <a class="nav-link" href="{% url 'white' %}">White Paper</a>
                </li>
                <li class="nav-item mrg5A">
                    <a class="nav-link" href="{% url 'Userabout' %}">About</a>
                </li>
                <li class="nav-item mrg5A">
                    <a class="nav-link" href="{% url 'UserContact' %}">Contact</a>
				</li>
				<li class="nav-item mrg5A">
					{% if logged_in %}
					<a href="{% url 'UserLogout' %}" class="btn btn-navbar-brown">Logout</a>
					{% else %}
					<a href="{% url 'UserLogin' %}" class="btn btn-navbar-brown">Login</a>
					{% endif %}
				</li>
                <li class="nav-item mrg5A">
                    <a href="{% url 'UserRegister' %}" class="btn btn-navbar-brown">Register</a>
                </li>
                <!--<li class="nav-item mrg5A">
                	<a href="#" class="btn btn-navbar-brown">Get Quote</a>
                </li>
                <li class="nav-item mrg5A">
                	<a href="#" class="btn btn-navbar-brown">Free Demo</a>
                </li>-->
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>-->
            </ul>
        </div>
    </nav>
</div>
	
<!--Banner Slider-->
<div  class="container-fluid baner-bg2 pad40B ">
    <div class="row" style="position: relative;">
        <div class="embed-responsive embed-responsive-4by1 particle-back">
            <canvas class="particle embed-responsive-item"></canvas>
        </div>
            <div class="text-container">
            <div class="text-row">
                <div class="text-top">{{headerObj.HeaderHeading|safe}}</div>
                <text class="text-bot">{{headerObj.HeaderHeadingContent|safe}}</text>
            </div>
        </div>
        </div>
    </div>
</div>

<!--Service Section-->
<div class="container-fluid pad40T pad40B">
	<div class="container">
    	<div class="row">
        	<h2 class="border-heading">OUR Service</h2>
            <div class="col">
            	<div class="body-text text-center pad20T">
					{{serviceObj.OurSericeContent|safe}}
                </div>
            </div>
        </div>
    </div>
</div>

<!--Service Pannel-->
<div class="container-fluid pad40B">
	<div class="container">
    	<div class="row justify-content-center">
        	<div class="col-lg-4 col-md-6 mrg30B">
            	<div class="service-panel-container zoom">
                	<div class="image zoom-hover">
                    	<img src="{% static 'UserApp/assets/img/service-img-01stimg.jpg' %}"  height="225" width="100%" alt=""/>
                        <div class="image-overlay">
 
                        	<a href="{% url 'hotel' %}" class="link-icon">
                            	<img src="{% static 'UserApp/assets/img/link-icon.png' %}" width="32" height="26" alt=""/>
 
                        	<a href="{% url 'hotel' %}" class="link-icon">
                            	<img src="{{serviceObj.OurSericeImg1.url}}" width="32" height="26" alt=""/>
 
                            </a>
                        </div>
                  	</div>
                    <div class="footer">
                    	<div class="row mrg0A">
                        	<div class="col pad5L pad5R">
                            	<div class="name">Hotels</div>
                            </div>
                            <div class="col-auto pad5L pad5R">
                            	<a class="more" href="{% url 'hotel' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mrg30B">
            	<div class="service-panel-container zoom">
                	<div class="image zoom-hover">
 
						<img src="{{serviceObj.OurSericeImg2.url}}" width="100%" height="225" alt=""/>
						
                        <div class="image-overlay">
                        	<a href="{% url 'travel' %}" class="link-icon">
                            	<img src="{% static 'UserApp/assets/img/link-icon.png' %}" width="32" height="26"  alt=""/>
                            </a>
                        </div>
                  	</div>
                    <div class="footer">
                    	<div class="row mrg0A">
                        	<div class="col pad5L pad5R">
                            	<div class="name">Travels</div>
                            </div>
                            <div class="col-auto pad5L pad5R">
                            	<a class="more" href="{% url 'travel' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mrg30B">
            	<div class="service-panel-container zoom">
                	<div class="image zoom-hover">
                    	<img src="{{serviceObj.OurSericeImg3.url}}" width="100%"  height="225" alt=""/>
                        <div class="image-overlay">
                        	<a href="{% url 'food' %}" class="link-icon">
                            	<img src="{% static 'UserApp/assets/img/link-icon.png' %}" width="32" height="26" alt=""/>
                            </a>
                        </div>
                  	</div>
                    <div class="footer">
                    	<div class="row mrg0A">
                        	<div class="col pad5L pad5R">
                            	<div class="name">Fooding</div>
                            </div>
                            <div class="col-auto pad5L pad5R">
                            	<a class="more" href="{% url 'food' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mrg30B">
            	<div class="service-panel-container zoom">
                	<div class="image zoom-hover">
                    	<img src="{{serviceObj.OurSericeImg4.url}}"  height="225" width="100%" alt=""/>
                        <div class="image-overlay">
                        	<a href="{% url 'payment' %}" class="link-icon">
                            	<img src="{% static 'UserApp/assets/img/link-icon.png' %}" width="32" height="26" alt=""/>
                            </a>
                        </div>
                  	</div>
                    <div class="footer">
                    	<div class="row mrg0A">
                        	<div class="col pad5L pad5R">
                            	<div class="name">Payments</div>
                            </div>
                            <div class="col-auto pad5L pad5R">
                            	<a class="more" href="{% url 'payment' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-lg-4 col-md-6 mrg30B">
            	<div class="service-panel-container zoom">
                	<div class="image zoom-hover">
                    	<img src="{{serviceObj.OurSericeImg5.url}}"  height="225" width="100%" alt=""/>
                        <div class="image-overlay">
                        	<a href="{% url 'tour' %}" class="link-icon">
                            	<img src="{% static 'UserApp/assets/img/link-icon.png' %}" width="32" height="26" alt=""/>
                            </a>
                        </div>
                  	</div>
                    <div class="footer">
                    	<div class="row mrg0A">
                        	<div class="col pad5L pad5R">
                            	<div class="name">Tours</div>
                            </div>
                            <div class="col-auto pad5L pad5R">
                            	<a class="more" href="{% url 'tour' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mrg30B">
            	<div class="service-panel-container zoom">
                	<div class="image zoom-hover">
                    	<img src="{{serviceObj.OurSericeImg6.url}}"  height="225" width="100%" alt=""/>
                        <div class="image-overlay">
                        	<a href="{% url 'recreation' %}" class="link-icon">
                            	<img src="{% static 'UserApp/assets/img/link-icon.png' %}" width="32" height="26" alt=""/>
                            </a>
                        </div>
                  	</div>
                    <div class="footer">
                    	<div class="row mrg0A">
                        	<div class="col pad5L pad5R">
                            	<div class="name">Recreation</div>
                            </div>
                            <div class="col-auto pad5L pad5R">
                            	<a class="more" href="{% url 'recreation' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Live Section-->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 pad40T pad40B live-left-bg">
			<div class="row justify-content-center" align="center">
				<div class="col-xl-8 col-lg-8 col-md-6 col-sm-8">
					<h3 class="border-heading-white">Calculate Live Cryptocurrency</h3>
					<!-- <div class="live-left-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div> -->

					<div class="input-group col-xl-10 col-lg-10 col-md-8 col-sm-10">
                        <div class="input-group-prepend">
                            <button class="btn dropdown-toggle" id="selected-crypto" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BTC</button>
                            <div class="crypto-type-selector dropdown-menu">
                                <a class="dropdown-item" onclick="$('#crypto-type').val($(this).text());$('#selected-crypto').text($(this).text());" href="javascript:void(0)">BTC</a>
                                <a class="dropdown-item" onclick="$('#crypto-type').val($(this).text());$('#selected-crypto').text($(this).text());" href="javascript:void(0)">USD</a>
                            </div>
                        </div>
                        <input type="text" name="Money" id="money" class="form-control" aria-label="Text input with dropdown button">
                        <input type="hidden" id="crypto-type" name="crypto-type">
                    </div>
					
					<div class="pad20T pad20B">
						<button onclick="checkcoinprice()"><img src="{% static 'UserApp/assets/img/toggle-switch-bg.png' %}" width="33" height="33" alt=""/></button>
					</div>
					
					<div class="input-group col-xl-10 col-lg-10 col-md-8 col-sm-10">
						<div class="input-group-prepend">
							<button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MyCoin</button>
							<!-- <div class="dropdown-menu">
								<a class="dropdown-item" href="#">INR</a>
								<a class="dropdown-item" href="#">BTC</a>
							</div> -->
						</div>
						<input type="text" id="c_data" class="form-control" aria-label="Text input with dropdown button">
					</div>
					
				</div>
			</div>			
		</div>

		<!-- User Review -->
		<div class="col-lg-6 live-right-bg pad40T pad40B">
			<div class="owl-carousel owl-theme live-slider pad40L pad40R">
				{% for i in UserReviewDataObj %}
				<div class="item">
					<div class="image" align="center">
						<img src="{{i.UserImg}}" width="20px" alt=""/>
					</div>
					<div class="text">
							{{i.user_name}} &nbsp;&nbsp; <small>{{i.Time}}</small>
						</div>
					<div class="text">
						{{i.description}}
					</div>
					<div class="rating-warp pad30B">
						<div class="rating-star" data-number="5" data-score=" {{i.customer_service}}"></div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>

<!--About Section-->
<div class="container-fluid pad40T pad0B">
	<div class="container">
   	
    	<div class="row">
        	<h2 class="border-heading">About us</h2>
            <div class="col">
            	<div class="body-text text-center pad20T">
					{{aboutUsObj.AboutHeading|safe}}
				</div>
            </div>
        </div>
        
        <div class="row pad40T pad40B">
        	<div class="col-lg-6 mrg30B">
            	<img src="{{aboutUsObj.AboutUSImage.url}}" width="100%" alt=""/>
            </div>
            <div class="col-lg-6 mrg30B">
            	<h1 class="section-header">Arcturus..</h1>
                <div class="section-mater">
                    {{aboutUsObj.AboutArcturusContent|safe}}
            	</div>
            	<!-- <div class="section-button">
            		<a href="#" class="btn btn-navbar-brown mrg5A">Read More</a>
            		<a href="#" class="btn btn-navbar-brown-border mrg5A">Get Demo</a>
            	</div> -->
            </div>
        </div>
        
        <div class="row">
        	<h2 class="border-heading">Why Choose US</h2>
        </div>
        
        <div class="row pad40T pad40B">
        	<div class="col-lg-5 col-md-6 mrg30B order-md-7">
        		<div class="row">
                    <div class="col">
                        <img src="{{whychooseObj.ChooseUSImage.url}}" width="100%" alt=""/>
                    </div>    
                </div>
                <div class="row">
                    <div class="col pad15T">
                        <iframe  src="https://www.youtube.com/embed/{{SocialMObj.youtube|safe}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  style="min-width: 100%;min-height: 280px"></iframe>
                    </div>    
                </div>
                
                <!-- <p>
                
                </p> -->
        	</div>
        	<div class="col-lg-7 col-md-6 mrg30B">
				
       			<div class="choose-table-row">
        			<div class="choose-table-cell">
        				<img src="{% static 'UserApp/assets/img/icon-team.png' %}" width="92" height="92" alt=""/>
        			</div>
        			<div class="choose-table-cell">
        				<div class="header">{{whychooseObj.ChooseUsHeading1|safe}}</div>
        				<div class="mater">
							{{whychooseObj.ChooseUsHeading1Content|safe}}
						</div>
        			</div>
        		</div>
        		
        		<div class="choose-table-row">
        			<div class="choose-table-cell">
        				<img src="{% static 'UserApp/assets/img/icon-service.png' %}" width="92" height="92" alt=""/>
        			</div>
        			<div class="choose-table-cell">
        				<div class="header">{{whychooseObj.ChooseUsHeading2|safe}}</div>
        				<div class="mater">
								{{whychooseObj.ChooseUsHeading2Content|safe}}
						</div>
        			</div>
        		</div>
        		
        		<div class="choose-table-row">
        			<div class="choose-table-cell">
        				<img src="{% static 'UserApp/assets/img/icon-access.png' %}" width="92" height="92" alt=""/>
        			</div>
        			<div class="choose-table-cell">
        				<div class="header">{{whychooseObj.ChooseUsHeading3|safe}}</div>
        				<div class="mater">
								{{whychooseObj.ChooseUsHeading3Content|safe}}
						</div>
        			</div>
        		</div>
        		
        		<div class="choose-table-row">
        			<div class="choose-table-cell">
        				<img src="{% static 'UserApp/assets/img/icon-wallet.png' %}" width="92" height="92" alt=""/>
        			</div>
        			<div class="choose-table-cell">
        				<div class="header">{{whychooseObj.ChooseUsHeading4|safe}}</div>
        				<div class="mater">
								{{whychooseObj.ChooseUsHeading4Content|safe}}
						</div>
        			</div>
        		</div>
                           
        	</div>
        </div>

    </div>
    
</div>

<!--Roadmap Section-->
<div class="row container-fluid join-section-bg pad40T pad10B">
	<div class="col-lg-6 col-md-12 container">
		<div class="row align-items-center">
			<h3 class="border-heading-white mrg10B">DEVELOPMENT ROADMAP</h3>

		</div>
		<div class="row align-items-center justify-content-center">
			<div class="col-md-4 mrg30B">
				<div class="road-map-container">
					<div class="top-arrow">
						<div class="inner">
 
							<div>{{roadmapObj.Heading1EditMonth|safe}}</div>
 
						</div>
					</div>
					<div class="map-icon" align="center">
						<img src="{% static 'UserApp/assets/img/map-icon-01.png' %}" width="106" class="img-fluid" alt=""/>
					</div>
					<div class="map-text" align="center">
						<div class="top">{{roadmapObj.Heading1EditLabel|safe}}</div>
 
						<a href="/more/" class="btn btn-navbar-brown">More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    
    <div class="vl"></div>
    <div class="col-lg-5 col-md-12 container">
        <div class="row align-items-center">
            <h3 class="border-heading-white mrg10B">Check Arcturus on coinmarketdaday portal</h3>
            <div class="col-md-12" align="center">
                <div class="col-lg-4 col-md-8 ">
                    <a href= "https://coinmarketdaddy.com/currencies/arcturus/" target="_blank">
                     <div class="map-icon" align="center">
                        <img src="{% static 'UserApp/assets/img/logo_cmd.png' %}" width="250" class="img-fluid" alt=""/>
                    </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
</div>

<!--Footer top-->
<div class="container-fluid footer-bg-back pad40T pad10B">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mrg30B">
				<div class="footer-logo">
					<a href="#">
						<img src="{% static 'UserApp/assets/img/logo-bw.png' %}" width="222" class="img-fluid" alt=""/>
					</a>
				</div>
				<div class="footer-logo-mater">
					{{footerObj.FooterContent|safe}}
				</div>
				
			<ul>
				<li><a href="{% url 'UserTermsConditionsurl' %}">Terms-Conditions</a></li>
				<br>
				<li><a href="{% url 'Userpolicyurl' %}">Policy</a></li>
			</ul>
			</div>

		  	<div class="col-lg-4">
		  		<div class="footer-heading">Latest News</div>
		  		
		  		<div class="footer-news-container">
						<div class="footer-news-col">
							<div class="image">
								<img src="{{NewsObj.LatestNewsImg1.url}}" width="100%" alt=""/>
							</div>
						</div>
						<div class="footer-news-col">
							<div class="top">{{NewsObj.LatestNewsContent1|safe}}</div>
							<a href="#" class="bot">{{NewsObj.LatestNewsDate1|safe}}</a>
						</div>
					</div>
				  
				  <div>
					<ul>
						<li>
							<a href="#">
								<img src="{% static 'UserApp/assets/img/icon-footer-location.png' %}" width="36" height="36" alt=""/>
								<span>{{footerObj.FooterAddress|safe}}</span>
							</a>
						</li>
						<br>
						<li>
							<a href="#">
								<img src="{% static 'UserApp/assets/img/icon-footer-phone.png' %}" width="36" height="36" alt=""/>
								<span>{{footerObj.FooterPhone|safe}}</span>
							</a>
						</li>
						<br>
						<li>
							<a href="#">
								<img src="{% static 'UserApp/assets/img/icon-footer-mail.png' %}" width="36" height="36" alt=""/>
								<span>{{footerObj.FooterMail|safe}}</span>
							</a>
						</li>		
					</ul>	
				  </div>
			</div>
		</div>
	</div>
</div>

<!--Footer Bottom-->
<div class="container-fluid bg-footer-bot">
	<div class="row">
		<div class="col">
			<div class="footer-bot-text">
					<a href="javascript:">{{CopyObj.copyRightData|safe}}</a>
			</div>
		</div>
	</div>
</div>
	
<!-- Bootstrap core JavaScript --> 
<script src="{% static 'UserApp/assets/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'UserApp/assets/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'UserApp/assets/js/css3-animate-it.js' %}"></script>
<script src="{% static 'UserApp/assets/js/jquery.input-mask.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/owl.carousel2-2.3.4.js' %}"></script>
<script src="{% static 'UserApp/assets/js/owl.carousel2.thumbs.js' %}"></script>
<script src="{% static 'UserApp/assets/js/highcharts.js' %}"></script>
<script src="{% static 'UserApp/assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/jquery.raty-fa.js' %}"></script>

<script src="{% static 'UserApp/assets/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'UserApp/assets/js/bootstrap-colorpicker.min.js' %}"></script>
    
<script src="{% static 'UserApp/assets/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'UserApp/assets/js/theme.js' %}"></script> 
 
 

 

<script type="text/javascript">
    function checkcoinprice()
    {
    $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '{% url "CoinValueCalling" %}',
            async: true,
            data: {
                        c_val: $('#money').val(),
                        c_type: $('#selected-crypto').text(),
                    },
            success: function (response){
                    console.log(response['no_coin']);
                    let no_coin = response['no_coin'];
                    if(response['is_taken'] == 1){
                        $("#c_data").val();
                        $("#c_data").val(no_coin);
                    }
                    else{
                         alert("Give a Numeric Value !!");
                    }
                  
                },
            error: function (){
                           alert('Something went wrong !!');
                    }
                });
}
</script>


</body>
</html>
