<html>
    <head>
        <title>Chart</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
            .xxx{
                height: 400;
                width: 600;
            }
        </style>
    </head>
<body>


<div class="xxx">
    <canvas id="bar-chart1"></canvas>
</div>


<script>
    setInterval(function()
    {
        SetNewCoinForGraph();
    },4000);
</script>


<script type="text/javascript">
    function SetNewCoinForGraph()
    {
    $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '{% url "mytest" %}',
            async: true,
            data: {
                    
                },
            success: function (response)
            {
                console.log(response['coin_id'][0]);
                console.log(response['coin_price'][0]);

                new Chart(document.getElementById("bar-chart1"), {
                    type: 'bar',
                    data: {
                        labels: response['coin_id'],
                        datasets: [
                        {
                            label: "USD",
                            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#3e95cd", "#8e5ea2"],
                            data: response['coin_price']
                        }
                        ]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                        display: true,
                        text: 'Crypto Coin Price'
                        }
                    }
                });

            },
            error: function (){
                           alert('Something went wrong !!');
                    }
                });
}
</script>


</body>
</html>