/* Author Kuntal */

.myheadingstyle{
    font-size: 18px;
    font-family: monospace;
}

.mystylebutton{
    padding-right: 40px;
    height: 50px;
}

.mylinkliststyle{
    color: blueviolet;
}

.myhedingcolor
{
    color: darkcyan;
}